@import '../../../styles.scss';

button {
  transition: all 0.3s ease;
  border-radius: 50px;
  font-weight: 600 !important;

  &:hover {
    @include pulseAnimation;
    animation: pulse 1s infinite !important; 
  }
}

