<div class="exercise-details">
  <button mat-icon-button class="close-button" (click)="onClose()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
  <div class="exercise-name">
    <h2>{{ exercise.name }}</h2>
  </div>
  <div class="detail">
    <h2 class="detail-name">DATA</h2>
    <div class="detail-container">
      <mat-icon>calendar_today</mat-icon>
      <h2>{{ exercise.date }}</h2>
    </div>
  </div>
  <div class="detail">
    <h2 class="detail-name">POWTÓRZENIA</h2>
    <div class="detail-container">
      <mat-icon>repeat</mat-icon>
      <h2>{{ exercise.repetitions }}</h2>
    </div>
  </div>
  <div class="detail">
    <h2 class="detail-name">CIĘŻAR</h2>
    <div class="detail-container">
      <mat-icon>fitness_center</mat-icon>
      <h2>{{ exercise.weight }} kg</h2>
    </div>
  </div>
  <div class="button-container">
    <app-button
      [fontSize]="'22px'"
      [backgroundColor]="'rgb(158, 13, 13)'"
      [width]="'220px'"
      [height]="'50px'"
      [color]="'white'"
      [margin]="'20px 0'"
      (click)="onRemovePosition()">USUŃ POZYCJĘ
    </app-button>
  </div>
</div>