<div class="exercise-details">
  <button mat-icon-button class="close-button" (click)="onClose()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
  <div class="exercise-name" cdkFocusInitial>
    <h2>{{ exercise.name }}</h2>
  </div>
  @for (detail of details; track $index) {
  <div class="detail">
    <h2 class="detail-name">{{ detail.label }}</h2>
    <div class="detail-container">
      <mat-icon>{{ detail.icon }}</mat-icon>
      <h2>{{ detail.value }}</h2>
    </div>
  </div>
  }
  <div class="button-container">
    <app-button
      [fontSize]="'20px'"
      [backgroundColor]="'rgb(158, 13, 13)'"
      [width]="'210px'"
      [height]="'50px'"
      [color]="'white'"
      [margin]="'20px 0'"
      (click)="onRemovePosition()"
      >USUŃ POZYCJĘ
    </app-button>
  </div>
</div>
