<div class="calories">
  <div class="container">
    <app-navigation
      [navBackground]="navBackground()"
      [expandedLinkColor]="expandedLinkColor()"
      [expandedActiveLinkColor]="expandedActiveLinkColor()"
      [expandedActiveLinkBg]="expandedActiveLinkBg()"
    >
    </app-navigation>
    <app-title
      [title]="title()"
      [subtitle]="subtitle()"
      [titleColor]="titleColor()"
    >
    </app-title>
    <div class="calories-content">
      <app-calories-carousel></app-calories-carousel>
      <div class="calories-description" data-aos="slide-left">
        <p>{{ description }}</p>
        <a href="https://licznikkalorii.vercel.app/" target="_blank">
          <app-button
            [fontSize]="'20px'"
            [backgroundColor]="'rgb(120, 0, 0)'"
            [width]="'140px'"
            [height]="'45px'"
            [color]="'white'"
            [margin]="'20px 0 0 0'"
            >SPRAWDŹ
          </app-button>
        </a>
      </div>
    </div>
  </div>
  <app-footer [footerBackground]="footerBackground()"> </app-footer>
</div>
