@import '../../styles.scss';

.calories {
  @include flex(column, space-between, stretch);
  min-height: 100vh;
}

.calories-content {
  @include flex(row, space-between, center);
  @include container(20px, 40px);
}

app-calories-carousel {
  width: 55%;
}

.calories-description {
  text-align: center;
  font-size: $content-font-size;
  width: 43%;
  line-height: 1.5;
}

