@import '../../styles.scss';

.calories {
  @include flex(column, space-between, stretch);
  min-height: 100vh;
}

.calories-content {
  @include flex(row, space-between, center);
  @include container(20px, 40px);
}

app-calories-carousel {
  width: 55%;
}

.calories-description {
  @include text-style($content-font-size, 500);
  text-align: center;
  width: 43%;
}

