@import '../../../../styles.scss';

.training-exercise {
  @include flex(column, space-between, stretch);
  min-height: 100vh;
}

.title-container {
  @include flex(row, center, center);
  max-width: 1000px;
  margin: 50px auto 30px;

  button {
    margin: 0 35px;

    mat-icon {
      width: 50px;
      height: 50px;
      font-size: 50px;
    }
  }

  h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    width: 650px;
    overflow: hidden;
  }
}

.exercise {
  max-width: 900px;
  margin: 0 auto;

  .exercise-buttons {
    @include flex(row, space-between, stretch);
  }
}


table {
  text-align: center;
  margin: 25px 0 20px;

  th {
    font-size: 22px;
    text-align: center;
    font-weight: 550;
  }

  .mat-mdc-row.mdc-data-table__row.cdk-row {
    font-size: 20px;
  }

  .mat-mdc-cell.mdc-data-table__cell.cdk-cell{
    text-align: center;
    padding: 15px 0;
  }
}

.paginator-container {
  max-width: 550px;
  margin: 0 auto 50px;
}
