@import '../../../styles.scss';

.features {
  @include flex(row, space-around, stretch);
  @include container(30px, 30px);
  flex-wrap: wrap;
  text-align: center;
  @include extra-large-screens {
    padding: 15px 50px;
  }
  @include medium-screens {
    display: inline-block;
    padding: 10px;
  }
}

.feature {
  max-width: 25%;
  text-align: center;
  margin: 10px;
  padding: 30px;
  margin: 0;
  @include extra-large-screens {
    max-width: 45%;
    padding: 15px;
  }
  @include medium-screens {
    max-width: 80%;
    margin: 50px auto;
    padding: 0;
  }

  .mat-icon {
    width: 60px;
    height: 60px;
    color: $home-icon-color;
    font-size: 60px;
    @include small-screens {
      font-size: 50px;
    }
  }

  h3 {
    @include heading-style($content-font-size * 1.2, 600, $home-icon-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0;
    @include small-screens {
      margin: 10px 0 5px;
    }
  }

  p {
    @include heading-style($content-font-size * 0.9, normal, rgb(0, 0, 102));
    margin: 0;
    line-height: 1.5;
    @include small-screens {
      font-size: 18px;
    }
  }
}

::ng-deep app-title.features-title .container {
  margin: 0 auto !important;
}

