@import '../../../styles.scss';

.container {
  @include container(40px, 20px);

  mat-card {
    margin: 30px auto;
    max-width: 800px;
    padding: 30px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 450;
    line-height: 1.7;
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }
}

:host {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

::ng-deep .ngx-charts-outer {
  margin-bottom: 50px;
}

::ng-deep .ng-star-inserted text {
  font-size: 24px !important;
  font-weight: bold;
}

::ng-deep .tick .ng-star-inserted {
  font-size: 14px !important;
  font-weight: 500;
}

::ng-deep .legend-title-text {
  font-size: 15px !important;
  font-weight: 800;
}


