<div class="progress">
  <div class="container">
    <app-navigation
      [navBackground]="navBackground()"
      [expandedLinkColor]="expandedLinkColor()"
      [expandedActiveLinkColor]="expandedActiveLinkColor()"
      [expandedActiveLinkBg]="expandedActiveLinkBg()"
    >
    </app-navigation>
    <app-title
      [title]="title()"
      [subtitle]="subtitle()"
      [titleColor]="titleColor()"
    >
    </app-title>
    <app-progress-form></app-progress-form>
    <app-progress-charts></app-progress-charts>
  </div>
  <app-footer [footerBackground]="footerBackground()"> </app-footer>
</div>
