@import '../../../../styles.scss';

.container {
  @include container(0, 0);
  padding: 40px 60px;
  @include medium-screens {
    text-align: center;
    padding: 20px 30px;
  }

  p {
    @include text-style($content-font-size * 0.9, normal)
  }

  h2 {
    @include heading-style($content-font-size * 1.2, 700, $text-color);
    margin-top: 50px;
    @include medium-screens {
      margin-top: 30px;
    }
  }
}