@import '../../../../styles.scss';

.container {
  padding: 40px 60px;
  line-height: 1.6;

  p {
    font-size: 18px;
  }

  h2 {
    font-size: 24px;
    margin-top: 50px;
    font-weight: 700;
  }
}