@import '../../../styles.scss';

.container {
  @include container(30px, 30px);
}

.subtitle {
  font-size: $content-font-size * 1.3;
  margin-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 600;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .title {
    color: black; 
    font-size: $title-font-size; 
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }

  .title-bar {
    width: 100%;
    height: 3.5px; 
    margin: 30px 0 0 40px;
  }
}