@import '../../../styles.scss';

.container {
  @include container(30px, 30px);
}

.subtitle {
  font-size: $content-font-size * 1.3;
  margin-bottom: 0.5rem;
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 600;
  @include medium-screens {
    text-align: center;
    margin-left: 0;
  }
}

.title-container {
  @include flex(row, space-between, stretch);
  @include medium-screens {
    @include flex(column, start, center);
  }

  .title {
    color: black; 
    font-size: $title-font-size; 
    text-transform: uppercase;
    font-weight: $header-font-weight;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    margin-left: 40px;
    @include medium-screens {
      margin-bottom: 10px;
      margin-left: 0;
    }
  }

  .title-bar {
    width: 100%;
    height: 3.5px; 
    margin: 30px 40px 0 40px;
    @include medium-screens {
      margin: 0;
      width: 80%;
    }
  }
}