@import '../../../styles.scss';

.accordion-container {
  @include container(20px, 50px);
}

.#{$mat-expansion-panel-collapsed}  {
  @include text-style($content-font-size * 0.9, 500);
  height: 65px;
}

.#{$mat-expansion-panel-expanded}  p {
  @include text-style($content-font-size * 0.85, normal);
}