@import '../../../../styles.scss';

.dialog-container {
  padding: 50px 30px;
  @include flex(column, center, center);
  position: relative;
  @include large-screens {
    height: 100%;
  }

  h2 {
    @include heading-style($content-font-size * 1.3, $header-font-weight * 0.9, $text-color);
    margin-bottom: 30px;
    text-align: center;
  }

  .close-button {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 75px;
    height: 75px;
    @include large-screens {
      display: block;
    }
    @include medium-screens {
      text-align: center;
      padding: 60px 10px 10px;
    }
    
    mat-icon {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 50px;
      height: 50px;
      font-size: 50px;
    }
  }

  mat-form-field  {
    width: 80%;
  }
}