@import '../../../../styles.scss';

.dialog-container {
  padding: 50px 30px;
  @include flex(column, center, center);

  h2 {
    font-size: 26px;
    font-weight: 550;
    margin-bottom: 30px;
  }

  mat-form-field  {
    width: 80%;
  }
}