<div class="dialog-container">
  <button mat-icon-button class="close-button" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
  <h2>WPWOWADŹ NAZWĘ TRENINGU !</h2>
  <mat-form-field>
    <mat-label>Nazwa Treningu</mat-label>
    <input matInput [(ngModel)]="trainingName" maxlength="20">
  </mat-form-field>
  <app-button
    [fontSize]="'20px'"
    [backgroundColor]="'rgb(0, 0, 190)'"
    [width]="'150px'"
    [height]="'50px'"
    [color]="'white'"
    [margin]="'15px 0 0 0'"
    (click)="onSave('300ms', '300ms')">ZAPISZ
  </app-button>
</div>
