<div class="auth">
  <app-navigation
    [navBackground]="navBackground()"
    [expandedLinkColor]="expandedLinkColor()"
    [expandedActiveLinkColor]="expandedActiveLinkColor()"
    [expandedActiveLinkBg]="expandedActiveLinkBg()"
  >
  </app-navigation>
  <div class="auth-content" data-aos="zoom-in">
    @if (!user) {
    <mat-card class="login-form">
      <app-title
        [title]="title()"
        [subtitle]="subtitle()"
        [titleColor]="titleColor()"
      >
      </app-title>
      <div class="form-container">
        <mat-form-field>
          <mat-label>Wprowadź email</mat-label>
          <input
            matInput
            placeholder="przykładowy@email.com"
            [formControl]="email"
            (blur)="updateErrorMessage()"
            required
          />
          @if (email.invalid) {
          <mat-error>{{ errorMessage }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Wprowadź hasło</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <app-button
            class="login-button"
            [fontSize]="'20px'"
            [backgroundColor]="'rgb(0, 0, 139)'"
            [width]="'140px'"
            [height]="'40px'"
            [color]="'white'"
            [margin]="'0px auto 30px'"
            (click)="onLogin()"
            >ZALOGUJ
          </app-button>
        </div>
      </div>
      <button
        mat-raised-button
        class="register-button"
        (click)="showUsersDialog('300ms', '300ms')"
      >
        Kliknij tutaj aby utworzyć nowe konto
      </button>
    </mat-card>
    } @if (user) {
    <mat-card class="logout-info">
      <p>{{ logoutDescription }}</p>
      <div>
        <app-button
          [fontSize]="'20px'"
          [backgroundColor]="'white'"
          [width]="'140px'"
          [height]="'40px'"
          [color]="'black'"
          [margin]="'0px auto 15px'"
          (click)="onLogout()"
          >WYLOGUJ
        </app-button>
      </div>
    </mat-card>
    }
  </div>
  <app-footer
    [footerBackground]="footerBackground()"
    [authorColor]="footerAuthorColor()"
  >
  </app-footer>
</div>
