@import '../../styles.scss';

.auth {
  @include flex(column, space-between, stretch);
  background: url('../../assets/trainingPhoto1.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 87, 0.75);
    z-index: -1;
  }

  &__content {
    @include flex(column, center, center);
  }

  &__login-form {
    width: 600px;
    padding: 0;
    margin: 20px auto;

    @include medium-screens {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__form-container {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    text-align: center;

    @include small-screens {
      padding: 0 15px;
    }
  }

  &__logout-info {
    width: 900px;
    margin: 0 auto;
    background: rgba(10, 10, 62, 0.9);
    color: white;
    box-shadow: 0 0 12px 0 #fff;
    padding: 10px 20px;
    border-radius: 10px;

    @include extra-large-screens {
      width: 95%;
      padding: 20px 40px;
    }

    @include medium-screens {
      padding: 20px 10px;
    }
  }

  .logout-content {
    display: block;
    text-align: left;
    padding: 15px;
  }

  .logout-heading {
    @include text-style(20px, 500);
    margin: 0 0 15px 0;
  }

  .logout-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    mat-icon {
      color: #bbb; /* slightly darker gray */
      margin-right: 5px;
      width: 40px;
    }

    span {
      @include text-style(18px, 400);
    }
  }

  .logout-button {
    text-align: right;
    margin-top: 20px;
  }

  &__register-button {
    color: white;
    background-color: rgb(0, 0, 119);
    &:hover {
      background-color: rgb(0, 0, 167);
      color: white;
    }
  }

  mat-form-field {
    margin: 10px 0;
  }

  app-footer {
    flex-shrink: 0 !important;
  }
}

::ng-deep .mat-mdc-snack-bar-label.mdc-snackbar__label {
  background-color: white !important;
  color: black !important;
}
