<div class="auth">
  <div class="auth-content">
    <app-navigation [navBackground]="navBackground"></app-navigation>
    <app-title
      [title]="title"
      [subtitle]="subtitle"
      [titleColor]="titleColor">
    </app-title>
    <mat-card class="auth-container">
      <mat-form-field>
        <mat-label>Wprowadź email</mat-label>
        <input matInput
          placeholder="przykładowy@email.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required>
        @if (email.invalid) {
          <mat-error>{{errorMessage}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Wprowadź hasło</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <app-button
        [fontSize]="'22px'"
        [backgroundColor]="'#00b806'"
        [width]="'160px'"
        [height]="'50px'"
        [color]="'white'"
        [margin]="'10px auto'">ZALOGUJ
      </app-button>
    </mat-card>
  </div>
  <app-footer
   [footerBackground]="footerBackground"
   [authorColor]="footerAuthorColor">
  </app-footer>
</div>
