@import '../../styles.scss';

.auth {
  @include flex(column, space-between, stretch);
  min-height: 100vh;
}

.login-form {
  width: 600px;
  padding: 40px 60px;
  margin: 50px auto 30px;
  text-align: center;
  
  @include medium-screens {
    width: 95%;
    padding: 20px 30px;
  }
  @include small-screens {
    width: 100%;
    padding: 20px 10px;
  }
}

.login-info {
  width: 1000px;
  padding: 30px 50px;
  margin: 30px auto 50px;

  @include large-screens {
    width: 95%;
    padding: 20px 30px;
  }
  @include small-screens {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
  }

  p {
    @include text-style(18px, 400);
    margin-bottom: 30px;
    @include small-screens {
      padding: 0px 10px;
    }
  }

  table {
  
    th {
      @include heading-style(22px, 450, $text-color);
      text-align: center;
      width: 33%;
    }

    .name-column {
      @include large-screens {
        display: none !important;
      }
    }
  
    .#{$mat-table-row}{
      font-size: 18px;
    }
  
    .#{$mat-table-cell} {
      text-align: center;
      padding: 20px 0;
    }
  }
}

.logout-info {
  width: 900px;
  padding: 30px 50px;
  margin: 30px auto 40px;
  text-align: center;

  p {
    @include text-style(18px, 420);
    margin-bottom: 15px;
  }
}

mat-form-field {
  margin: 10px 0;
}

app-footer {
  flex-shrink: 0 !important;
}

