@import '../../../styles.scss';

@import '../../../styles.scss';

.login-info {
  text-align: center;
  padding: 30px 50px;
  position: relative;
  width: 900px;

  @include extra-large-screens {
    width: 100%;
  }
  @include medium-screens {
    padding: 80px 20px 20px;
  }
  @include small-screens {
    display: flex;
  }

  &__close-button {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 75px;
    height: 75px;
    @include medium-screens {
      display: block;
      text-align: center;
      padding: 60px 10px 10px;
    }
  }

  &__close-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 50px;
    height: 50px;
    font-size: 50px;
  }

  &__description {
    @include text-style(18px, 400);
    text-align: left;
    margin-top: 0;
    @include small-screens {
      padding: 0px 10px;
    }
  }

  &__table {
    @include small-screens {
      margin-bottom: 10px;
    }

    th {
      @include heading-style(22px, 450, $text-color);
      width: 30%;
    }

    .name-column {
      @include large-screens {
        display: none !important;
      }
    }

    .#{$mat-table-row} {
      font-size: 18px;
    }

    .#{$mat-table-cell} {
      padding: 24px 16px;
      position: relative;

      .login-info__copy-button {
        color: lightgray;
        position: absolute;
        left: 83%;
        bottom: 13%;
        transform: translateX(-50%);

        &:hover {
          color: rgb(65, 65, 65);
        }
        @include large-screens {
          left: 75%;
        }
        @include small-screens {
          display: none;
        }
      }

      .password-icon {
        left: 45%;
        @include large-screens {
          left: 50%;
        }
      }
    }
  }
}
