@import '../../../../styles.scss';

.info-dialog {
  height: 100%;
  padding: 40px 20px;
  text-align: center;
  @include large-screens {
    height: 100%;
    @include flex(column, center, center);
    padding: 0 10px;
  }

  p {
    @include text-style(22px, 550);
    margin: 0;
  }
}
