$text-color: rgb(0, 0, 0);
$text-secondary-color: rgb(255, 255, 255);

// HOME
$home-icon-color: rgb(0, 0, 102);
$home-background-layer-color: rgba(0, 0, 87, 0.75);

// TRAINING
$training-btn-add-color : blue;
$training-btn-remove-color: red;
$training-icon-color: darkblue;

// PROGRESS
$progress-btn-color: red;
$progress-line-color: red;
$progress-line-secondary-color: rgb(51, 51, 51);

// AUTH
$auth-btn-color: green;

// CALORIES
$auth-btn-color: red;


