@import '../styles/fonts.scss';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $header-font;
  line-height: 1.6;
  font-size: $content-font-size;
  overflow-x: hidden;
}

body.overflowY-hidden {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}
