html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-size: $content-font-size;
}

body.overflowY-hidden {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}