// MAT STEPPER 

$mat-stepper-container: 'mat-horizontal-content-container';


// TABLE

$mat-table-row: 'mat-mdc-row.mdc-data-table__row.cdk-row';
$mat-table-cell: 'mat-mdc-cell.mdc-data-table__cell.cdk-cell';


// EXPANSION PANEL

$mat-expansion-panel-collapsed: 'mat-expansion-panel-header.mat-focus-indicator.mat-expansion-toggle-indicator-after'; 
$mat-expansion-panel-expanded: 'mat-expansion-panel';