@mixin container ($margin-top, $margin-bottom) {
  max-width: 1200px;
  margin: $margin-top auto $margin-bottom;
}

@mixin flex($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin background-gradient($color-start, $color-end) {
  background: linear-gradient(to top, $color-start, $color-end);
}

@mixin heading-style($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: 1.6;
}

@mixin text-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
  line-height: 1.6;
}

@mixin tiny-screens () {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin small-screens () {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin medium-screens () {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin large-screens () {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin extra-large-screens () {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin mega-large-screens () {
  @media only screen and (max-width: 1400px) {
    @content;
  }
}