@import '../../../../node_modules/keen-slider/keen-slider.min.css';
@import '../../../styles.scss';

[class^="number-slide"],
[class*=" number-slide"] {
  height: 370px;
  max-height: 100vh;
  border-radius: 10px;

  @include large-screens {
    height: 325px;
  }
  @include medium-screens {
    height: 300px;
  }
  @include small-screens {
    display: none;
  }
}

.number-slide1 {
  background: url('../../../assets/caloriesPhoto1.PNG');
  background-size: cover;
}

.number-slide2 {
  background: url('../../../assets/caloriesPhoto2.PNG');
  background-size: cover;
}

.number-slide3 {
  background: url('../../../assets/caloriesPhoto3.PNG');
  background-size: cover;
}

.number-slide4 {
  background: url('../../../assets/caloriesPhoto4.PNG');
  background-size: cover;
}

.number-slide5 {
  background: url('../../../assets/caloriesPhoto5.PNG');
  background-size: cover;
}

.number-slide6 {
  background: url('../../../assets/caloriesPhoto6.PNG');
  background-size: cover;
}

.number-slide7 {
  background: url('../../../assets/caloriesPhoto7.PNG');
  background-size: cover;
  background-position: center;
}

.number-slide8 {
  background: url('../../../assets/caloriesPhoto8.PNG');
  background-size: cover;
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px solid black;
}
