@import '../../../styles.scss';

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include large-screens {
    justify-content: space-around;
    margin-top: 20px;
  }
}

.grid-item {
  width: 30%;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  margin: 10px 0;
  transition: transform 0.3s ease;
  @include large-screens {
    width: 45%;
  }
  &:hover {
    transform: scale(1.1);
  }
  @include small-screens {
    &:hover {
      transform: none;
    }
  }

  &:nth-child(9) {
    @include large-screens {
      display: none;
    }
  }
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: top;
}
