<ejs-carousel cssClass="default-carousel">
  <e-carousel-items>
      <e-carousel-item>
          <ng-template #template>
            <figure class="img-container">
              <img src="../../../assets/caloriesPhoto1.PNG" alt="bridge" style="height:100%;width:100%;" />
              <figcaption class="img-caption">Golden Gate Bridge, San Francisco</figcaption>
            </figure>
          </ng-template>
        </e-carousel-item>
        <e-carousel-item>
          <ng-template #template>
            <figure class="img-container">
              <img src="../../../assets/caloriesPhoto2.PNG"  alt="spring_trees" style="height:100%;width:100%;" />
              <figcaption class="img-caption">Spring Flower Trees</figcaption>
            </figure>
          </ng-template>
        </e-carousel-item>
        <e-carousel-item>
          <ng-template #template> 
            <figure class="img-container">
              <img src="../../../assets/caloriesPhoto3.PNG"  alt="waterfall" style="height:100%;width:100%;" />
              <figcaption class="img-caption">Oddadalen Waterfalls, Norway</figcaption>
            </figure>
          </ng-template>
      </e-carousel-item>
  </e-carousel-items>
</ejs-carousel>