@import '../../../styles.scss';

.training-description {
  margin: 40px auto 70px;
  background: url('../../../assets/home_adventages_photo.jpg') no-repeat center
    center;
  background-size: cover;
  padding: 60px 30px;
  position: relative;
  background-attachment: fixed;
  @include large-screens {
    padding: 30px 10px 40px;
    height: auto;
    margin-top: 0px;
  }

  .content {
    @include flex(row, center, center);
    @include container(0, 0);
    text-align: center;
    position: relative;
    color: $text-secondary-color;
    z-index: 1;
    @include large-screens {
      @include flex(column, center, center);
    }
  }

  p {
    @include text-style($content-font-size, 400);
    flex: 1.75;
    padding-right: 50px;
    margin: 0;
    border-right: 3px solid white;
    @include large-screens {
      margin-top: 20px;
      padding: 0;
      border: none;
    }
  }

  .description {
    flex: 1;
    padding-left: 50px;
    text-align: center;
    @include large-screens {
      padding: 0;
      border-left: none;
    }

    h4 {
      @include heading-style(
        $content-font-size * 1.25,
        550,
        $text-secondary-color
      );
      margin: 0;

      @include large-screens {
        display: none;
      }
    }
  }
}

.training-description:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 63, 0.8),
    rgba(0, 0, 130, 0.8)
  );
}
