<div class="training-description">
  <div class="content">
    <p>W sekcji z treningami masz możliwość stworzenia swojego indywidualnego planu treningowego.
      Do każdego z treningów będziesz mógł dodawać ćwiczenia, a następnie zapisywać swoje wyniki.
      Pamiętaj, że gdy zdecydujesz się usunąć któryś z treningów, cała historia związana z osiągnięciami
      również zostanie usunięta !</p>
    <div class="description">
      <h4>Kliknij przycisk poniżej aby zmodyfikować trening !</h4>
      <app-button
        [fontSize]="'22px'"
        [backgroundColor]="'#e7e7e7'"
        [width]="'220px'"
        [height]="'50px'"
        [color]="'black'"
        [margin]="'15px 0 0 0'">MODYFIKUJ
      </app-button>
    </div>
  </div>
</div>