@import '../../../styles.scss';

.training-description {
  margin: 40px auto 70px;
  background: url('../../../assets/home_adventages_photo.jpg') no-repeat center center;
  background-size: cover;
  padding: 60px 30px;
  position: relative;
  background-attachment: fixed;
  @include large-screens {
    padding: 30px 30px 40px;
    height: auto;
    margin-top: 0px;
  }

  .content {
    @include flex(row, center, center);
    @include container(0, 0);
    text-align: center;
    position: relative;
    color: $text-secondary-color;
    z-index: 1;
  }

  p {
    @include text-style($content-font-size, 400);
    flex: 1.75;
    padding-right: 50px;
    margin-bottom: 15px;
    border-right: 3px solid white;
    @include large-screens {
      margin-top: 20px;
      padding: 0;
    }
    @include medium-screens {
      font-size: 16px;
    }
  }

  .description {
    flex: 1;
    padding-left: 50px;
    text-align: center;
    margin-bottom: 15px;
    @include large-screens {
      padding: 0;
      border-left: none;
    }

    h4 {
      @include heading-style($content-font-size * 1.25, 550, $text-secondary-color);
      margin-bottom: 5px;
    }
  }
}

.training-description:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 46, 0.8), rgba(0, 0, 219, 0.8));  
}
