@import '../../../styles.scss';

.adventages {
  background: url('../../../assets/home_adventages_photo.jpg') no-repeat center center;
  background-size: cover;
  padding: 60px 30px;
  position: relative;
  background-attachment: fixed;
  line-height: 1.6;
  @include large-screens {
    padding: 30px 30px 40px;
    height: auto;
    margin-top: 0px;
  }

  .content {
    @include flex(row, center, center);
    @include container(0, 0);
    text-align: center;
    position: relative;
    color: $text-secondary-color;
    z-index: 1;
    @include large-screens {
      display: block;
      text-align: center;
    }
  }

  h1 {
    flex: 1;
    padding-right: 50px;
    font-size: $title-font-size * 0.9;
    margin-bottom: 15px;
    line-height: 1.3;
    font-weight: 500;
    @include large-screens {
      margin-top: 20px;
      padding: 0;
    }
    @include medium-screens {
      font-size: 16px;
    }
  }

  .description {
    flex: 2;
    padding-left: 50px;
    font-size: $content-font-size * 0.9;
    text-align: center;
    border-left: 3px solid white;
    @include large-screens {
      padding: 0;
      border-left: none;
    }

    p {
      margin-top: 5px;
    }
  }

  button {
    margin-top: 15px;
    background-color: #e7e7e7 !important;
    background-color: linear-gradient(to right, rgb(5, 7, 146), rgrgb(3, 3, 41));
    color: black;
    width: 250px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
  
    &:hover {
      background-color: darken(#e7e7e7, 5%) !important; 
      animation: pulseAnimation 1s infinite; 
    }
  
    @keyframes pulseAnimation {
      0%, 100% {
        transform: scale(1); 
      }
      50% {
        transform: scale(1.2); 
      }
    }
  }
}

.adventages:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 87, 0.8); 
}
