@import '../../../../styles.scss';

.dialog-container {
  padding: 25px 50px;

  h2 {
    @include heading-style(32px, 700, $text-color);
    text-align: center;
    padding-bottom: 0;
  }

  table {
    text-align: center;
    margin: 25px 0 20px;
  
    th {
      @include heading-style(22px, 550, $text-color);
      text-align: center;
    }
  
    .#{$mat-table-row}{
      font-size: 22px;
    }
  
    .#{$mat-table-cell} {
      text-align: center;
      padding: 15px 0;
    }
  }
  
}