@import '../../../styles.scss';

.training-exercises {
  @include container(40px, 20px);
  @include large-screens {
    margin: 30px 10px 15px;
  }
}

mat-tab-group {
  h2 {
    margin-bottom: 0;
  }
}

.exercises {
  margin: 60px auto;
  @include flex(row, flex-start, center);
  flex-wrap: wrap;
  @include extra-large-screens {
    justify-content: space-around;
  }
  @include large-screens {
    margin: 30px auto;
  }
}

.exercise {
  width: 30%;
  margin: 0 19px 30px;
  text-align: center;
  height: 400px;
  perspective: 800px;
  -webkit-perspective: 800px;
  @include extra-large-screens {
    width: 43%;
  }
  @include medium-screens {
    width: 70%;
    margin: 10px auto;
  }
  @include small-screens {
    width: 85%;
  }
  


  .exercise-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 1s;
    -webkit-transition:1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    border: 2px solid rgb(1, 1, 78);
    box-shadow: 0px 3px 7px rgba(0, 0, 168, 0.4);
  }

  &:hover > .exercise-card {
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
  }

  .exercise-front-card {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    @include flex(column, center, center);
    background: url('../../../assets/trainingPhoto1.jpg');
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;

    h2 {
      @include heading-style($title-font-size * 0.9,  $header-font-weight * 1.1, white);
      padding: 10px;
      margin-bottom: 30px;
      z-index: 1;
    }
  
    h4 {
      @include heading-style(25px,  $header-font-weight * 0.9, white);
      z-index: 1;
    }
  
    p {
      @include heading-style($content-font-size * 1.1,  500, white);
      z-index: 1;
    }
  }

  .exercise-back-card {
    @include flex(column, center, center);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    backface-visibility:hidden;
    -webkit-backface-visibility: hidden;
    background: linear-gradient(to top, rgba(0, 0, 143) 0%, rgba(0, 0, 58) 30%, rgba(0, 0, 58) 60%, rgba(0, 0, 143) 100%);

    h4 {
      @include heading-style(30px,  $header-font-weight * 0.9, white);
      margin-bottom: 0;
    }

    h3 {
      @include heading-style(46px,  $header-font-weight * 1.1, white);
      margin-bottom: 20px;
    }
  }
}

.exercise-front-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 46, 0.8), rgba(0, 0, 187, 0.8));
  z-index: 1;  
}

.add-card {
  @include flex(column, center, center);
  perspective: none;
  cursor: pointer;
  background: linear-gradient(to top, rgba(0, 0, 143) 0%, rgba(0, 0, 58) 30%, rgba(0, 0, 58) 60%, rgba(0, 0, 143) 100%);

  h3 {
    @include heading-style(42px,  $header-font-weight, white);
    margin-bottom: 15px;
    z-index: 2;
  }

  mat-icon {
    width: 130px;
    height: 130px;
    font-size: 130px;
    color: $text-secondary-color;
    z-index: 2;
  }
}

::ng-deep .mdc-tab.mat-mdc-tab.mat-mdc-focus-indicator {
  font-size: 22px;
  flex: 1;
}