<div class="training-exercises">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label><h2>PUSH</h2></ng-template>
      <div class="exercises">
        <h1>PUSH DZIAŁA</h1>
      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label><h2>PULL</h2></ng-template>
      <div class="exercises">
        <h1>PULL DZIAŁA</h1>
      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label><h2>LEGS</h2></ng-template>
      <div class="exercises">
        <h1>LEGS DZIAŁA</h1>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="training-modify">
    <h2></h2>
  </div>
</div>