@import '../../../../styles.scss';

.exercise-dialog {
  padding: 40px 20px;
  @include flex(column, center, center);
  @include medium-screens {
    height: 100%;
  }

  h2 {
    @include heading-style(26px, $header-font-weight, $text-color);
    margin: 0 0 20px;
    @include medium-screens {
      text-align: center;
    }
  }

  mat-form-field {
    width: 80%;
    @include medium-screens {
      width: 100%;
    }
  }

  .actions {
    text-align: center;
    @include tiny-screens {
      @include flex(column, center, center);
    }
  }
}
