<div class="progress-form" data-aos="zoom-out">
  <mat-form-field>
    <mat-label>Wybierz Trening</mat-label>
    <mat-select
      disableRipple
      [ngModel]="progressService.selectedTraining()"
      (ngModelChange)="updateSelectedTraining($event)"
    >
      @for (training of trainingList(); track $index) {
      <mat-option [value]="training">{{ training.category }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Wybierz ćwiczenie</mat-label>
    <mat-select
      [ngModel]="progressService.selectedExercise()"
      (ngModelChange)="updateSelectedExercise($event)"
      [disabled]="!progressService.selectedTraining()"
    >
      @for (exercise of exercisesList(); track $index) {
      <mat-option [value]="exercise">{{ exercise.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Wybierz zakres</mat-label>
    <mat-select
      [ngModel]="progressService.selectedRange()"
      (ngModelChange)="updateSelectedRange($event)"
    >
      @for (range of dateRanges; track $index) {
      <mat-option [value]="range.value">{{ range.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div class="button-container">
  <app-button
    [fontSize]="'18px'"
    [backgroundColor]="'rgb(187, 0, 0)'"
    [width]="'120px'"
    [height]="'40px'"
    [color]="'white'"
    [margin]="'10px auto 0'"
    (click)="checkProgress()"
    >SPRAWDŹ
  </app-button>
</div>
