@import '../../../styles.scss';

.progress-form {
  @include container(40px, 0px);
  @include flex(row, space-around, center);
  padding: 0 10px;
  @include medium-screens {
    @include flex(column, center, center);
    margin-bottom: 10px;
    padding: 0;
  }

  mat-form-field {
    width: 325px;
    @include large-screens {
      width: 32%;
    }
    @include medium-screens {
      width: 70%;
    }
    @include small-screens {
      width: 90%;
    }
  }
}

.button-container {
  text-align: center;
}
