<div class="progress-form">
  <mat-form-field>
    <mat-label>Wybierz Trening</mat-label>
    <mat-select 
      disableRipple 
      [(ngModel)]="selectedTraining" 
      (ngModelChange)="selectedTraining.set($event)">
      @for (training of trainingList(); track $index) {
        <mat-option [value]="training">{{ training.category }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Wybierz ćwiczenie</mat-label>
    <mat-select 
      [(ngModel)]="selectedExercise"
      (ngModelChange)="selectedExercise.set($event)" 
      [disabled]="!selectedTraining()">
      @for (exercise of exercisesList(); track $index) {
        <mat-option [value]="exercise">{{ exercise.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Wybierz zakres</mat-label>
    <mat-select 
      [(ngModel)]="selectedRange" 
      (ngModelChange)="selectedRange.set($event)">
      @for (range of dateRanges; track $index) {
        <mat-option [value]="range.value">{{ range.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div class="button-container">
  <app-button
    [fontSize]="'24px'"
    [backgroundColor]="'rgb(187, 0, 0)'"
    [width]="'180px'"
    [height]="'60px'"
    [color]="'white'"
    [margin]="'15px auto'"
    (click)="checkProgress()">SPRAWDŹ
  </app-button>
</div>