<div class="expanded-nav" [@expandCollapse]="stateName">
  <ul>
    @for (link of links; track link.path) {
      <li [ngStyle]="{'background': isActiveRoute(link.path) ? expandedActiveLinkBg() : 'transparent'}">
        <a
          (click)="clickedLink()" 
          [routerLink]="link.path" 
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}"
          [ngStyle]="{'color': isActiveRoute(link.path) ? expandedActiveLinkColor() : expandedLinkColor()}">
          <fa-icon class="icon" [icon]="link.icon"></fa-icon>{{ link.label }}
        </a>
      </li>
    }
  </ul>
</div>