.expanded-nav {
  z-index: 2; // Wysoki z-index, aby nawigacja była na wierzchu
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 0px;
  overflow: hidden;
  z-index: 2;

  li {
    margin: 15px 0px;
    padding: 17.5px 0;

    a {
      font-size: 22px;
      text-decoration: none;
      color: black;
      cursor: pointer;
      position: relative;
      font-weight: 500;
    }

    .icon {
      margin-right: 15px;
    }
  }
}