@import '../../../styles.scss';

.navigation {
  @include large-screens {
    border-bottom: 2px solid rgb(0, 0, 0);
  }
}

nav {
  @include flex(row, space-between, stretch);
  @include large-screens {
    @include flex(column, space-between, center);
  }
  
  .logo {
    margin: 25px 70px 20px 130px;
    position: relative;

    fa-icon {
      position: absolute;
      font-size: 32px;
      color:  white;
      top: -5px;
      left: -50px;
      rotate: -45deg;
    }

    a {
      font-size: $content-font-size * 1.2;
      cursor: pointer;
      font-family: cursive;
    }
    @include large-screens {
      display: none;
    }
  }

  .menu-icon {
    display: none;
    font-size: 40px;
    margin: 10px auto;
    color: white;
    cursor: pointer;
    @include large-screens {
      display: block;
    }
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 40px;
    padding: 0;
    @include large-screens {
      display: none;
    }
  }
  
  li {
    list-style: none;
    margin: 12px 30px 5px;
  }

  a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: $content-font-size * 0.95;

    &.active-link {
      color: white; 

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white; 
        transform: scaleX(1); 
        transform-origin: bottom left;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -15%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
      transform: scaleX(0); 
      transform-origin: bottom left;
      transition: transform 0.5s ease; 
    }

    &:hover::after, &:focus::after {
      transform: scaleX(1); 
    }
  }
}