<div class="navigation">
  <nav id="nav" [ngStyle]="{'background': navBackground}">
    <div class="logo">
      <fa-icon class="icon" [icon]="faDumbbell"></fa-icon>
      <a routerLink="/">Licznik Progresu</a>
    </div>
    <fa-icon 
      class="menu-icon" 
      [icon]="isNavExpanded ? faTimes : faBars" 
      (click)="toggleNav()">
    </fa-icon>
    <div>
      <ul>
        @for (link of links; track link.name) {
          <li><a [routerLink]="link.path" routerLinkActive="active-link">{{link.name}}</a></li>
        }
      </ul>
    </div>
  </nav>
  <app-expanded-nav 
    [isNavExpanded]="isNavExpanded" 
    (clickedLinkEvent)="handleClickedLink()">
  </app-expanded-nav>
</div>