@import '../../../styles.scss';

.splash {
  height: 100vh;
  background: url('../../../assets/splash_foto.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.splash:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $home-background-layer-color; 
}

.splash-content {
  @include flex(column, center, center);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $text-secondary-color;
  z-index: 1;
  width: 70%;

  h1 {
    @include text-style($title-font-size * 1.1, 600);
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  h2 {
    @include text-style($content-font-size * 1.3, normal);
    margin-bottom: 20px;
  }

  p {
    @include text-style($content-font-size * 0.9, normal);
  }
}