<div class="splash">
  <app-navigation 
    [navBackground]="navBackground()"
    [expandedLinkColor]="expandedLinkColor()"
    [expandedActiveLinkColor]="expandedActiveLinkColor()"
    [expandedActiveLinkBg]="expandedActiveLinkBg()">
  </app-navigation>
  <div class="splash-content">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ description }}</p>
    <app-button
      [fontSize]="'20px'"
      [backgroundColor]="'#e7e6e6'"
      [width]="'140px'"
      [height]="'50px'"
      [color]="'black'"
      [margin]="'25px 0 120px 0'"
      (click)="navigateToAuth()">ZALOGUJ
    </app-button>
  </div>
</div>
