<div class="splash">
  <app-navigation
    [navBackground]="navBackground()"
    [expandedLinkColor]="expandedLinkColor()"
    [expandedActiveLinkColor]="expandedActiveLinkColor()"
    [expandedActiveLinkBg]="expandedActiveLinkBg()"
  >
  </app-navigation>
  <div class="splash-content" data-aos="zoom-in">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ description }}</p>
    <app-button
      [fontSize]="'18px'"
      [backgroundColor]="'#e7e6e6'"
      [width]="'120px'"
      [height]="'40px'"
      [color]="'black'"
      [margin]="'10px 0 80px 0'"
      (click)="navigateToAuth()"
      >ZALOGUJ
    </app-button>
  </div>
</div>
