@import '../../../styles.scss';

.splash {
  background: url('../../../assets/splash_foto.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  z-index: 1;
  text-align: center;

  @include large-screens {
    background-attachment: scroll;
  }
}

.splash:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $home-background-layer-color;
  z-index: -1;
}

.splash-content {
  margin: 0 auto;
  @include flex(column, center, center);
  text-align: center;
  color: $text-secondary-color;
  z-index: 0;
  width: 70%;

  @include large-screens {
    margin: 0 auto 10px;
    width: 100%;
  }

  h1 {
    @include text-style($title-font-size * 1.1, 650);
    margin: 20px 5px 0;
    letter-spacing: 1px;
  }

  h2 {
    @include text-style($content-font-size * 1.5, 575);
    margin: 0;

    @include large-screens {
      margin: 15px 3px 10px;
    }
  }

  p {
    @include text-style($content-font-size * 0.9, normal);

    @include large-screens {
      display: none;
    }
  }
}
