@import '../../../../styles.scss';

.dialog-container {
  padding: 30px 20px 10px;
  @include medium-screens {
    padding: 0px 10px;
  }

  .close-button {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 75px;
    height: 75px;
    @include large-screens {
      display: block;
      text-align: center;
      padding: 60px 10px 10px;
    }

    mat-icon {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 50px;
      height: 50px;
      font-size: 50px;
    }
  }

  h2 {
    @include heading-style(36px, $header-font-weight, $text-color);
    margin: 0 0 30px;
    text-align: center;
    @include medium-screens {
      margin: 80px auto 20px;
      font-size: 32px;
    }
  }

  mat-step {
    text-align: center;
  }

  mat-form-field {
    width: 40%;
    @include medium-screens {
      width: 280px;
    }
    @include tiny-screens {
      width: 98%;
    }
  }

  .form-container {
    @include flex(row, center, center);
    @include medium-screens {
      @include flex(column, center, center);
    }
  }

  .next-button {
    @include text-style(20px, $header-font-weight);
    margin: 0 0 17.5px 50px;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 45px;
    background: rgb(0, 0, 130);
    @include medium-screens {
      width: 150px;
      margin: 25px 0 0;
    }

    &:hover {
      @include pulseAnimation;
      animation: pulse 1s infinite !important;
    }

    @include medium-screens {
      &:hover {
        animation: none !important;
      }
    }
  }
}

::ng-deep .#{$mat-stepper-container} {
  margin-top: 40px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::ng-deep .mat-horizontal-content-container {
  margin-top: 20px !important;
}
