@import '../../../../styles.scss';

.dialog-container {
  padding: 50px 30px;

  h2 {
    @include heading-style(36px, $header-font-weight, $text-color);
    margin-bottom: 40px;
    text-align: center;
  }

  mat-step {
    text-align: center;
  }

  mat-form-field {
    width: 40%;
  }

  button {
    @include text-style($button-font-size, $header-font-weight);
    margin: 0 0 17.5px 50px;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 45px;
    background: rgb(0, 0, 190);

    &:hover {
      @include pulseAnimation;
      animation: pulse 1s infinite !important; 
    }
  }
}

::ng-deep .#{$mat-stepper-container} {
  margin-top: 40px;
  text-align: center;
}
