@import '../../../styles.scss';

.footer {
  color: rgb(255, 255, 255);
  left: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: $content-font-size;
  padding: 15px 0;
  @include small-screens {
    font-size: 18px;
  }

  span {
    font-size: $content-font-size;
    font-family: cursive;
  }
}