@import '../../../styles.scss';

.footer {
  color: rgb(255, 255, 255);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: $content-font-size;
  padding: 7.5px 0;
  @include small-screens {
    font-size: 18px;
  }

  span {
    font-weight: 600;
    letter-spacing: 1px;
  }
}
