@import '../../../../styles.scss';

.remove-dialog {
  padding: 50px 30px;
  @include large-screens {
    height: 100%;
    @include flex(column, center, center);
    padding: 0 10px;
  }

  .message {
    text-align: center;
    margin-bottom: 25px;

    p {
      @include text-style($content-font-size, $header-font-weight * 0.9);
      margin-bottom: 0;
    }
  }

  .actions {
    text-align: center;
  }
}