<div class="remove-dialog">
  <div class="message">
    <p>{{ data.messages.confirmMessage }}</p>
  </div>
  <div class="actions">
    <app-button
      [fontSize]="'18px'"
      [backgroundColor]="'rgb(0, 0, 130)'"
      [width]="'120px'"
      [height]="'40px'"
      [color]="'white'"
      [margin]="'10px 10px 0'"
      (click)="onCancel()"
      >ANULUJ
    </app-button>
    <app-button
      [fontSize]="'18px'"
      [backgroundColor]="'rgb(158, 13, 13)'"
      [width]="'120px'"
      [height]="'40px'"
      [color]="'white'"
      [margin]="'10px 10px 0'"
      (click)="onRemove('300ms', '300ms')"
      >USUŃ
    </app-button>
  </div>
</div>
